@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --blue: rgb(78, 205, 196);
    --black: rgb(15, 52, 50);
    --light-color: #666;
    --box-shadow: rgb(0 0 0 / 7%) 0px 4px 6px -1px;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* Untuk browser Firefox */
input[type="search"]::-moz-search-cancel {
    display: none;
}

/* Untuk browser Opera dan Edge */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 5.5rem 4.5%;
}

section:nth-child(even) {
    background: #eee;
}

.sub-heading {
    text-align: center;
    color: var(--blue);
    font-size: 2rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 2.5rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem;
    float: right;
    height: 4rem;
}

.btn:hover {
    background: var(--blue);
    letter-spacing: .1rem;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .spinner {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--blue);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: rgb(0 0 0 / 7%) 0px 4px 6px -1px;
}

header img {
    height: 2.7rem;
}

header .logo {
    color: var(--blue);
    font-size: 2.5rem;
    padding: 0 4.5%;
    font-weight: bolder;
}

header .navbar {
    align-items: center;
    margin-right: 1rem;
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
    color: var(--light-color);
    position: relative;
}

header .navbar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

header .navbar a.active.nav,
header .navbar a.nav:hover::before {
    color: var(--blue);
    visibility: visible;
    transform: scaleX(1);
}

header .icons i,
header i.icons {
    position: fixed;
    top: .7rem;
    right: 1rem;
    cursor: pointer;
    height: 4.5rem;
    line-height: 4.5rem;
    margin-left: .5rem;
    width: 4.5rem;
    align-items: center;
    text-align: center;
    font-size: 1.7rem;
    color: var(--light-color);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header i.icons:hover {
    color: #fff;
    background: var(--blue);
    transform: rotate(360deg);
    transition: .5s;
}

header .icons #menu-bars {
    display: none;
}

#search-form {
    position: fixed;
    top: .7rem;
    right: 6.5rem;
    height: 4.5rem;
    z-index: 1000;
    display: flex;
    align-items: center;
}

#search-form .wrapper {
    text-align: center;
}

#search-form .search {
    display: inline-flex;
    flex-direction: row-reverse;
    border-radius: 50px;
    background: #eee;
    transition: 0.4s;
}

#search-form .search:hover {
    background: #eee;
}

#search-form .search .fa-search:hover {
    color: #fff;
    background: var(--blue);
    transform: rotate(360deg);
    transition: .5s;
}

#search-form .search:hover input,
#search-form .search.focus input {
    max-width: 180px;
}

#search-form .search input {
    background: transparent;
    text-transform: none;
    border: 0;
    max-width: 0;
    padding: 0;
    text-indent: 12px;
    color: var(--light-color);
    font-size: 1.7rem;
    outline: none;
    transition: 0.4s;
}

#search-form .search input::placeholder {
    color: #ccc;
}

#search-form .search span {
    display: grid;
    cursor: pointer;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--light-color);
    border-radius: 50%;
    background: #eee;
}

.home .home-slider .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 9rem;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.home .home-slider .slide .content {
    float: 1 1 45rem;
}

.home .home-slider .slide .image {
    float: 1 1 1 45rem;
}

.home .home-slider .slide .image img {
    height: 50rem;
    margin: auto 0;
}

.home .home-slider .slide .content span {
    color: var(--blue);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3 {
    color: var(--black);
    font-size: 7rem;
}

.home .home-slider .slide .content p {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active {
    background: var(--blue);
}

.dishes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 9.5rem;
}

.dishes .box-container .box {
    padding: 1.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box:nth-child(n+4) {
    display: none;
}

.dishes .box-container .box img {
    height: 17rem;
    margin: 1rem 0;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color: var(--black);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
    background: var(--blue);
    color: #fff;
}

.dishes .box-container .box .fa-heart {
    right: -15rem;
}

.dishes .box-container .box .fa-eye {
    left: -15rem;
}

.dishes .box-container .box:hover .fa-heart {
    right: 1.5rem;
}

.dishes .box-container .box:hover .fa-eye {
    left: 1.5rem;
}

.dishes .box-container .box h3 {
    color: var(--black);
    font-style: 2.5rem;
    font-size: 2.5rem;
}

.dishes .box-container .box .stars {
    padding: 1rem 0;
}

.dishes .box-container .box .stars i {
    font-size: 1.7rem;
    color: gold;
}

.dishes .box-container .box span {
    color: var(--blue);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 90%;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3 {
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.about .row .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
    text-transform: none;
}

.about .row .content .icons-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons {
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i {
    font-size: 2.5rem;
    color: var(--blue);
}

.about .row .content .icons-container .icons span {
    font-size: 1.3rem;
    color: var(--black);
}

/*  */

.order .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.order .box-container .box {
    padding: 1.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.order .box-container .box .image .fa-heart {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    background: #fff;
    border-radius: 50%;
    color: var(--black);
}

.order .box-container .box .image .fa-heart:hover {
    background-color: var(--blue);
    color: #fff;
}

.order .box-container .box .content {
    padding: 2rem;
    padding-top: 0;
}

.order .box-container .box .content .stars {
    padding-bottom: 1rem;
}

.order .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: gold;
}

.order .box-container .box .content h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.order .box-container .box .content p {
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.order .box-container .box .content .price {
    color: var(--blue);
    margin-left: 1rem;
    font-size: 2.5rem;
}

.order .form .inputBox {
    flex-wrap: wrap;
    justify-content: space-between;
}

.order .form .inputBox .input {
    width: 100%;
}

.order .form .inputBox .input2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.order .form .inputBox .input span {
    display: flex;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.order .form .inputBox .input input,
.order .form .inputBox .input textarea {
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.order .form .inputBox .input2 span {
    width: 100px;
    text-align: left;
    display: flex;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.order .form .inputBox .input input:focus,
.order .form .inputBox .input textarea:focus {
    border: .1rem solid var(--blue);
}

.order .form .inputBox .input textarea {
    height: 4rem;
    resize: none;
}

.order .form .btn {
    margin-top: 0;
}

.order .form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    max-width: 100%;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, .2);
    background: #fff;
    padding: 1.5rem;
    margin: 1.5rem auto;
    position: relative;
}

/*  */

.order .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.order .box-container .box #radioButtonContainer1,
.order .box-container .box #radioButtonContainer2,
.order .box-container .box #radioButtonContainer3,
.order .box-container .box #radioButtonContainer4,
.order .box-container .box #radioButtonContainer5,
.order .box-container .box #radioButtonContainer6,
.order .box-container .box #radioButtonContainer7,
.order .box-container .box #radioButtonContainer8,
.order .box-container .box #radioButtonContainer9,
.order .box-container .box #radioButtonContainer10 {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: .5rem;
    color: var(--light-color);
}

.order .box-container .box .image img {
    height: 17rem;
    margin: 1rem 0;
}

.order .inputBox {
    flex-wrap: wrap;
    justify-content: space-between;
}

.order .inputBox .input {
    width: 100%;
}

.order .inputBox .input2 {
    display: flex;
}

.order .inputBox .input span {
    display: flex;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.order .inputBox .input input,
.order .inputBox .input textarea {
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.order .inputBox .input2 span {
    width: 100px;
    text-align: left;
    display: flex;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.order .inputBox .input input:focus,
.order .inputBox .input textarea:focus {
    border: .1rem solid var(--blue);
}

.order .inputBox .input textarea {
    height: 4rem;
    resize: none;
}

.order .btn {
    margin-top: 0;
}

.review .slide {
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    position: relative;
}

.review .slide .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.review .slide .user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3 {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i {
    font-size: 1.3rem;
    color: var(--blue);
}

.review .slide p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    text-transform: none;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover {
    color: var(--blue);
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    font-size: 1rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: var(--blue);
}


/* loader */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}











/* media queries */
@media (max-width:992px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 6.8rem 9%;
    }

    .order .box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:767px) {
    header .icons #menu-bars {
        display: inline-block;
    }

    header .icons .material-icons {
        font-size: 11px;
    }

    header .navbar {
        position: absolute;
        text-align: right;
        top: 100%;
        left: 70%;
        right: 0;
        background: rgba(15, 52, 50, .5);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        padding-bottom: 992px;
    }

    header .navbar a {
        display: block;
        margin: 1rem;
        height: 4.5rem;
        font-size: 1.7rem;
        text-align: center;
        background: #eee;
    }

    header i.icons {
        position: relative;
        top: -.5rem;
        right: 0rem;
        height: 4.5rem;
        line-height: 4.5rem;
        margin-left: .5rem;
        width: 4.5rem;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        color: var(--light-color);
        border-radius: 50%;
        background: #eee;
    }

    #search-form .search:hover input,
    #search-form .search.focus input {
        max-width: 110px;
    }

    .home .home-slider .slide .content h3 {
        font-size: 5rem;
    }

    .home .home-slider .slide .image img {
        height: 40rem;
    }

    .about .row {
        flex-direction: column;
    }

    .about .row .image {
        flex: 1 1 auto;
        width: 100%;
    }

    .about .row .content {
        flex: 1 1 auto;
        width: 100%;
    }

    .about .row .content h3 {
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.2rem;
    }

    .about .row .content .icons-container .icons {
        font-size: 1.2rem;
    }

    .about .row .image img {
        width: 100%;
    }

    .order .box-container {
        grid-template-columns: 1fr;
    }

    .order form .inputBox .input {
        width: 0%;
    }
    
    .review .slide p {
        font-size: 1.5rem;
    }

    .footer .box-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1rem;
    }

    .footer .box-container .box h3 {
        font-size: 2rem;
    }

    .footer .box-container .box a {
        font-size: 1.2rem;
    }

    .footer .credit {
        font-size: 0.8rem;
    }
}

@media (max-width:575px) {
    html {
        font-size: 50%;
    }

    #search-form .search:hover input,
    #search-form .search.focus input {
        max-width: 55px;
    }

    .home .home-slider .slide {
        margin: auto;
        display: flex;
        justify-content: center;
        padding-top: 8rem;
        padding-bottom: 8rem;
        text-align: center;
    }

    .home .home-slider .slide .content h3 {
        font-size: 4rem;
    }

    .home .home-slider .slide .content span {
        font-size: 2rem;
    }

    .order form .inputBox .input {
        width: 100%;
    }

    .review .slide p {
        font-size: 1.5rem;
    }

    .order .form {
        gap: 0;
    }

    .footer .box-container {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 0.5rem;
    }
}