@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --blue: rgb(78, 205, 196);
    --black: rgb(15, 52, 50);
    --light-color: #666;
    --box-shadow: rgb(0 0 0 / 7%) 0px 4px 6px -1px;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* Untuk browser Firefox */
input[type="search"]::-moz-search-cancel {
    display: none;
}

/* Untuk browser Opera dan Edge */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 5.5rem 4.5%;
}

section:nth-child(even) {
    background: #eee;
}

.sub-heading {
    text-align: center;
    color: var(--blue);
    font-size: 2rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 2.5rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem;
    float: right;
    height: 4rem;
}

.btn:hover {
    background: var(--blue);
    letter-spacing: .1rem;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .spinner {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--blue);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: rgb(0 0 0 / 7%) 0px 4px 6px -1px;
}

header img {
    height: 2.7rem;
}

header .logo {
    color: var(--blue);
    font-size: 2.5rem;
    padding: 0 4.5%;
    font-weight: bolder;
}

header .navbar {
    align-items: center;
    margin-right: 1rem;
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
    color: var(--light-color);
    position: relative;
}

header .navbar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

header .navbar a.active.nav,
header .navbar a.nav:hover::before {
    color: var(--blue);
    visibility: visible;
    transform: scaleX(1);
}

header .icons i,
header i.icons {
    position: fixed;
    top: .7rem;
    right: 1rem;
    cursor: pointer;
    height: 4.5rem;
    line-height: 4.5rem;
    margin-left: .5rem;
    width: 4.5rem;
    align-items: center;
    text-align: center;
    font-size: 1.7rem;
    color: var(--light-color);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header i.icons:hover {
    color: #fff;
    background: var(--blue);
    transform: rotate(360deg);
    transition: .5s;
}

header .icons #menu-bars {
    display: none;
}

.order .box-container {
    padding-top: .7rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;    
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
}

.order .box-container .box {
    padding: 1.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
}

.order .box-container .box .image img {
    height: 17rem;
    margin: 1rem 0;
}

.order .box-container .box {
    padding: 2rem;
    padding-top: 0;
}

.order .box-container .box table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

.order .box-container .box th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

.order .box-container .box th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
  }

.order .box-container .box td:first-child {
    width: 26rem;
    border: none;
  }
  
  .order .box-container .box td:nth-child(2) {
    width: 1rem;
    border: none;
  }
  
  .order .box-container .box td:last-child {
    text-align: left;
    font-weight: normal;
    width: 90rem;
    word-break: break-word;
    border: none;
  }

.order .box-container .box h3 {
    color: var(--black);
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.order .box-container .box p {
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.order .box-container .box .price {
    color: varvar(--blue);
    margin-left: 1rem;
    font-size: 2.5rem;
}

.order .box-container2 {
    padding-top: 1rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
}

.order .box-container2 .checkout-container {
    overflow-x: auto;
}

.order .box-container2 .box {
    padding: 1.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
}

.order .box-container2 .box .image img {
    height: 17rem;
    margin: 1rem 0;
}

.order .box-container2 .box {
    padding: 2rem;
    padding-top: 0;
}

.order .box-container2 .box h3 {
    color: var(--black);
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.order .box-container2 .box p {
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.order .box-container2 .box .price {
    color: var(--blue);
    margin-left: 1rem;
    font-size: 2.5rem;
}

.order .box-container2 .box table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 20px;
}

.order .box-container2 .box th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.order .box-container2 .box tr:nth-child(even.updated) {
    background-color: #f2f2f2;
    }

.order .box-container2 .box th {
    background-color: var(--blue);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black);
}

.order .box-container2 .box .btn{
    margin-top: 0;
}

.order .box-container2 .box td:nth-child(4), td:nth-child(6) {
    text-align: center;
}

.order .box-container2 .box tbody tr:hover {
    background-color: #e6e6e6;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover {
    color: var(--blue);
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    font-size: 1rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.footer .credit span {
    color: var(--blue);
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}




/* loader */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}













@media (max-width:992px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 6.8rem 9%;
    }
}

@media (max-width:767px) {
    header .icons #menu-bars {
        display: inline-block;
    }

    header .icons .material-icons {
        font-size: 11px;
    }

    header .navbar {
        position: absolute;
        text-align: right;
        top: 100%;
        left: 70%;
        right: 0;
        background: rgba(15, 52, 50, .5);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        padding-bottom: 992px;
    }

    header .navbar a {
        display: block;
        margin: 1rem;
        height: 4.5rem;
        font-size: 2rem;
        text-align: center;
        background: #eee;
    }
    header i.icons {
        position: relative;
        top: -.5rem;
        right: 0rem;
        height: 4.5rem;
        line-height: 4.5rem;
        margin-left: .5rem;
        width: 4.5rem;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        color: var(--light-color);
        border-radius: 50%;
        background: #eee;
    }

    .order .box-container .box td:first-child {
        width: 60rem;
    }

    .order .box-container .box h3 {
        font-size: 2rem;
    }
    
    .order .box-container .box p {
        font-size: 1.2rem;
    }
    
    .order .box-container .box .price {
        font-size: 2rem;
    }
    
    .order .box-container .box table {
        font-size: 1.2rem;
    }

    .order .box-container2 .box {
        padding: 1.5rem;
        padding-top: 0;
    }
    
    .order .box-container2 .box h3 {
        font-size: 2rem;
    }
    
    .order .box-container2 .box p {
        font-size: 1.2rem;
    }
    
    .order .box-container2 .box .price {
        font-size: 2rem;
    }
    
    .order .box-container2 .box table {
        font-size: 1.2rem;
    }
    
    .order .box-container2 .box th, td {
        padding: 5px;
    }

    .footer .box-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1rem;
    }

    .footer .box-container .box h3 {
        font-size: 2rem;
    }

    .footer .box-container .box a {
        font-size: 1.2rem;
    }

    .footer .credit {
        font-size: 0.8rem;
    }
}

@media (max-width:575px) {
    html {
        font-size: 50%;
    }

    .footer .box-container {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 0.5rem;
    }
}
